---
title: Buttons
icon: icon-check-empty
stylesheets:
- lib/prettify/prettify.css
javascripts:
- lib/prettify/prettify.js
scripts: $(function() { metisButton(); });
---
<div class="row">
        <div class="col-lg-12">
            <div class="box danger">
                <header>
                    <div class="icons"><i class="icon-building"></i></div>
                    <h5>Default Button</h5>
                    <div class="toolbar">
                        <button class="btn btn-default btn-small" data-toggle="collapse" data-target="#div1">default</button>
                    </div>
                </header>
                <div class="body collapse in" id="div1">
                    <h3>Default Button</h3>
                    <a href="#" class="btn btn-default">default</a>
                    <a href="#" class="btn btn-primary">primary</a>
                    <a href="#" class="btn btn-danger">danger</a>
                    <a href="#" class="btn btn-success">success</a>
                    <a href="#" class="btn btn-info">info</a>
                    <a href="#" class="btn btn-warning">warning</a>

                    <a href="#" class="btn btn-metis-1">metis-1</a>
                    <a href="#" class="btn btn-metis-2">metis-2</a>
                    <a href="#" class="btn btn-metis-3">metis-3</a>
                    <a href="#" class="btn btn-metis-4">metis-4</a>
                    <a href="#" class="btn btn-metis-5">metis-5</a>
                    <a href="#" class="btn btn-metis-6">metis-6</a>
                    <hr>
                    <h4>Mini Button</h4>
                    <a href="#" class="btn btn-default btn-mini">default</a>
                    <a href="#" class="btn btn-primary btn-mini">primary</a>
                    <a href="#" class="btn btn-danger btn-mini">danger</a>
                    <a href="#" class="btn btn-success btn-mini">success</a>
                    <a href="#" class="btn btn-info btn-mini">info</a>
                    <a href="#" class="btn btn-warning btn-mini">warning</a>

                    <a href="#" class="btn btn-metis-1 btn-mini">metis-1</a>
                    <a href="#" class="btn btn-metis-2 btn-mini">metis-2</a>
                    <a href="#" class="btn btn-metis-3 btn-mini">metis-3</a>
                    <a href="#" class="btn btn-metis-4 btn-mini">metis-4</a>
                    <a href="#" class="btn btn-metis-5 btn-mini">metis-5</a>
                    <a href="#" class="btn btn-metis-6 btn-mini">metis-6</a>
                    <hr>
                    <h4>Small Button</h4>
                    <a href="#" class="btn btn-default btn-small">default</a>
                    <a href="#" class="btn btn-primary btn-small">primary</a>
                    <a href="#" class="btn btn-danger btn-small">danger</a>
                    <a href="#" class="btn btn-success btn-small">success</a>
                    <a href="#" class="btn btn-info btn-small">info</a>
                    <a href="#" class="btn btn-warning btn-small">warning</a>

                    <a href="#" class="btn btn-metis-1 btn-small">metis-1</a>
                    <a href="#" class="btn btn-metis-2 btn-small">metis-2</a>
                    <a href="#" class="btn btn-metis-3 btn-small">metis-3</a>
                    <a href="#" class="btn btn-metis-4 btn-small">metis-4</a>
                    <a href="#" class="btn btn-metis-5 btn-small">metis-5</a>
                    <a href="#" class="btn btn-metis-6 btn-small">metis-6</a>
                    <hr>
                    <h4>Large Button</h4>

                    <a href="#" class="btn btn-default btn-large">default</a>
                    <a href="#" class="btn btn-primary btn-large">primary</a>
                    <a href="#" class="btn btn-danger btn-large">danger</a>
                    <a href="#" class="btn btn-success btn-large">success</a>
                    <a href="#" class="btn btn-info btn-large">info</a>
                    <a href="#" class="btn btn-warning btn-large">warning</a>

                    <a href="#" class="btn btn-metis-1 btn-large">metis-1</a>
                    <a href="#" class="btn btn-metis-2 btn-large">metis-2</a>
                    <a href="#" class="btn btn-metis-3 btn-large">metis-3</a>
                    <a href="#" class="btn btn-metis-4 btn-large">metis-4</a>
                    <a href="#" class="btn btn-metis-5 btn-large">metis-5</a>
                    <a href="#" class="btn btn-metis-6 btn-large">metis-6</a>
                </div>
                <!-- /.body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col-lg-12 -->


        <div class="col-lg-12">
            <div class="box">
                <header>
                    <div class="icons"><i class="icon-building"></i></div>
                    <h5>Line Button</h5>
                    <div class="toolbar">
                        <button class="btn btn-danger btn-small btn-line" data-toggle="collapse" data-target="#div2">line</button>
                    </div>
                </header>
                <div class="body collapse in" id="div2">
                    <h3>Default Button</h3>
                    <a href="#" class="btn btn-default btn-line">default</a>
                    <a href="#" class="btn btn-primary btn-line">primary</a>
                    <a href="#" class="btn btn-danger btn-line">danger</a>
                    <a href="#" class="btn btn-success btn-line">success</a>
                    <a href="#" class="btn btn-info btn-line">info</a>
                    <a href="#" class="btn btn-warning btn-line">warning</a>

                    <a href="#" class="btn btn-metis-1 btn-line">metis-1</a>
                    <a href="#" class="btn btn-metis-2 btn-line">metis-2</a>
                    <a href="#" class="btn btn-metis-3 btn-line">metis-3</a>
                    <a href="#" class="btn btn-metis-4 btn-line">metis-4</a>
                    <a href="#" class="btn btn-metis-5 btn-line">metis-5</a>
                    <a href="#" class="btn btn-metis-6 btn-line">metis-6</a>
                    <hr>
                    <h4>Mini Button</h4>
                    <a href="#" class="btn btn-default btn-mini btn-line">default</a>
                    <a href="#" class="btn btn-primary btn-mini btn-line">primary</a>
                    <a href="#" class="btn btn-danger btn-mini btn-line">danger</a>
                    <a href="#" class="btn btn-success btn-mini btn-line">success</a>
                    <a href="#" class="btn btn-info btn-mini btn-line">info</a>
                    <a href="#" class="btn btn-warning btn-mini btn-line">warning</a>

                    <a href="#" class="btn btn-metis-1 btn-mini btn-line">metis-1</a>
                    <a href="#" class="btn btn-metis-2 btn-mini btn-line">metis-2</a>
                    <a href="#" class="btn btn-metis-3 btn-mini btn-line">metis-3</a>
                    <a href="#" class="btn btn-metis-4 btn-mini btn-line">metis-4</a>
                    <a href="#" class="btn btn-metis-5 btn-mini btn-line">metis-5</a>
                    <a href="#" class="btn btn-metis-6 btn-mini btn-line">metis-6</a>
                    <hr>
                    <h4>Small Button</h4>
                    <a href="#" class="btn btn-default btn-small btn-line">default</a>
                    <a href="#" class="btn btn-primary btn-small btn-line">primary</a>
                    <a href="#" class="btn btn-danger btn-small btn-line">danger</a>
                    <a href="#" class="btn btn-success btn-small btn-line">success</a>
                    <a href="#" class="btn btn-info btn-small btn-line">info</a>
                    <a href="#" class="btn btn-warning btn-small btn-line">warning</a>

                    <a href="#" class="btn btn-metis-1 btn-small btn-line">metis-1</a>
                    <a href="#" class="btn btn-metis-2 btn-small btn-line">metis-2</a>
                    <a href="#" class="btn btn-metis-3 btn-small btn-line">metis-3</a>
                    <a href="#" class="btn btn-metis-4 btn-small btn-line">metis-4</a>
                    <a href="#" class="btn btn-metis-5 btn-small btn-line">metis-5</a>
                    <a href="#" class="btn btn-metis-6 btn-small btn-line">metis-6</a>
                    <hr>
                    <h4>Large Button</h4>

                    <a href="#" class="btn btn-default btn-large btn-line">default</a>
                    <a href="#" class="btn btn-primary btn-large btn-line">primary</a>
                    <a href="#" class="btn btn-danger btn-large btn-line">danger</a>
                    <a href="#" class="btn btn-success btn-large btn-line">success</a>
                    <a href="#" class="btn btn-info btn-large btn-line">info</a>
                    <a href="#" class="btn btn-warning btn-large btn-line">warning</a>

                    <a href="#" class="btn btn-metis-1 btn-large btn-line">metis-1</a>
                    <a href="#" class="btn btn-metis-2 btn-large btn-line">metis-2</a>
                    <a href="#" class="btn btn-metis-3 btn-large btn-line">metis-3</a>
                    <a href="#" class="btn btn-metis-4 btn-large btn-line">metis-4</a>
                    <a href="#" class="btn btn-metis-5 btn-large btn-line">metis-5</a>
                    <a href="#" class="btn btn-metis-6 btn-large btn-line">metis-6</a>
                </div>
                <!-- /.body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col-lg-12 -->



        <div class="col-lg-12">
            <div class="box warning">
                <header>
                    <div class="icons"><i class="icon-building"></i></div>
                    <h5>Rectangle Button</h5>
                    <div class="toolbar">
                        <button class="btn btn-success btn-small btn-rect" data-toggle="collapse" data-target="#div3">rectangle</button>
                    </div>
                </header>
                <div class="body collapse in" id="div3">
                    <h3>Default Button</h3>
                    <a href="#" class="btn btn-default btn-rect">default</a>
                    <a href="#" class="btn btn-primary btn-rect">primary</a>
                    <a href="#" class="btn btn-danger btn-rect">danger</a>
                    <a href="#" class="btn btn-success btn-rect">success</a>
                    <a href="#" class="btn btn-info btn-rect">info</a>
                    <a href="#" class="btn btn-warning btn-rect">warning</a>

                    <a href="#" class="btn btn-metis-1 btn-rect">metis-1</a>
                    <a href="#" class="btn btn-metis-2 btn-rect">metis-2</a>
                    <a href="#" class="btn btn-metis-3 btn-rect">metis-3</a>
                    <a href="#" class="btn btn-metis-4 btn-rect">metis-4</a>
                    <a href="#" class="btn btn-metis-5 btn-rect">metis-5</a>
                    <a href="#" class="btn btn-metis-6 btn-rect">metis-6</a>
                    <hr>
                    <h4>Mini Button</h4>
                    <a href="#" class="btn btn-default btn-mini btn-rect">default</a>
                    <a href="#" class="btn btn-primary btn-mini btn-rect">primary</a>
                    <a href="#" class="btn btn-danger btn-mini btn-rect">danger</a>
                    <a href="#" class="btn btn-success btn-mini btn-rect">success</a>
                    <a href="#" class="btn btn-info btn-mini btn-rect">info</a>
                    <a href="#" class="btn btn-warning btn-mini btn-rect">warning</a>

                    <a href="#" class="btn btn-metis-1 btn-mini btn-rect">metis-1</a>
                    <a href="#" class="btn btn-metis-2 btn-mini btn-rect">metis-2</a>
                    <a href="#" class="btn btn-metis-3 btn-mini btn-rect">metis-3</a>
                    <a href="#" class="btn btn-metis-4 btn-mini btn-rect">metis-4</a>
                    <a href="#" class="btn btn-metis-5 btn-mini btn-rect">metis-5</a>
                    <a href="#" class="btn btn-metis-6 btn-mini btn-rect">metis-6</a>
                    <hr>
                    <h4>Small Button</h4>
                    <a href="#" class="btn btn-default btn-small btn-rect">default</a>
                    <a href="#" class="btn btn-primary btn-small btn-rect">primary</a>
                    <a href="#" class="btn btn-danger btn-small btn-rect">danger</a>
                    <a href="#" class="btn btn-success btn-small btn-rect">success</a>
                    <a href="#" class="btn btn-info btn-small btn-rect">info</a>
                    <a href="#" class="btn btn-warning btn-small btn-rect">warning</a>

                    <a href="#" class="btn btn-metis-1 btn-small btn-rect">metis-1</a>
                    <a href="#" class="btn btn-metis-2 btn-small btn-rect">metis-2</a>
                    <a href="#" class="btn btn-metis-3 btn-small btn-rect">metis-3</a>
                    <a href="#" class="btn btn-metis-4 btn-small btn-rect">metis-4</a>
                    <a href="#" class="btn btn-metis-5 btn-small btn-rect">metis-5</a>
                    <a href="#" class="btn btn-metis-6 btn-small btn-rect">metis-6</a>
                    <hr>
                    <h4>Large Button</h4>

                    <a href="#" class="btn btn-default btn-large btn-rect">default</a>
                    <a href="#" class="btn btn-primary btn-large btn-rect">primary</a>
                    <a href="#" class="btn btn-danger btn-large btn-rect">danger</a>
                    <a href="#" class="btn btn-success btn-large btn-rect">success</a>
                    <a href="#" class="btn btn-info btn-large btn-rect">info</a>
                    <a href="#" class="btn btn-warning btn-large btn-rect">warning</a>

                    <a href="#" class="btn btn-metis-1 btn-large btn-rect">metis-1</a>
                    <a href="#" class="btn btn-metis-2 btn-large btn-rect">metis-2</a>
                    <a href="#" class="btn btn-metis-3 btn-large btn-rect">metis-3</a>
                    <a href="#" class="btn btn-metis-4 btn-large btn-rect">metis-4</a>
                    <a href="#" class="btn btn-metis-5 btn-large btn-rect">metis-5</a>
                    <a href="#" class="btn btn-metis-6 btn-large btn-rect">metis-6</a>
                </div>
                <!-- /.body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col-lg-12 -->



        <div class="col-lg-12">
            <div class="box danger">
                <header>
                    <div class="icons"><i class="icon-building"></i></div>
                    <h5>Circle Button</h5>
                    <div class="toolbar">
                        <button class="btn btn-success btn-small btn-circle" data-toggle="collapse" data-target="#div4">c</button>
                    </div>
                </header>
                <div class="body collapse in" id="div4">
                    <h3>Default Button</h3>
                    <a href="#" class="btn btn-default btn-circle">de</a>
                    <a href="#" class="btn btn-primary btn-circle">pr</a>
                    <a href="#" class="btn btn-danger btn-circle">da</a>
                    <a href="#" class="btn btn-success btn-circle">su</a>
                    <a href="#" class="btn btn-info btn-circle">in</a>
                    <a href="#" class="btn btn-warning btn-circle">wa</a>

                    <a href="#" class="btn btn-metis-1 btn-circle">m1</a>
                    <a href="#" class="btn btn-metis-2 btn-circle">m2</a>
                    <a href="#" class="btn btn-metis-3 btn-circle">m3</a>
                    <a href="#" class="btn btn-metis-4 btn-circle">m4</a>
                    <a href="#" class="btn btn-metis-5 btn-circle">m5</a>
                    <a href="#" class="btn btn-metis-6 btn-circle">m6</a>
                    <hr>
                    <h4>Mini Button</h4>
                    <a href="#" class="btn btn-default btn-mini btn-circle">d</a>
                    <a href="#" class="btn btn-primary btn-mini btn-circle">p</a>
                    <a href="#" class="btn btn-danger btn-mini btn-circle">d</a>
                    <a href="#" class="btn btn-success btn-mini btn-circle">s</a>
                    <a href="#" class="btn btn-info btn-mini btn-circle">i</a>
                    <a href="#" class="btn btn-warning btn-mini btn-circle">w</a>

                    <a href="#" class="btn btn-metis-1 btn-mini btn-circle">1</a>
                    <a href="#" class="btn btn-metis-2 btn-mini btn-circle">2</a>
                    <a href="#" class="btn btn-metis-3 btn-mini btn-circle">3</a>
                    <a href="#" class="btn btn-metis-4 btn-mini btn-circle">4</a>
                    <a href="#" class="btn btn-metis-5 btn-mini btn-circle">5</a>
                    <a href="#" class="btn btn-metis-6 btn-mini btn-circle">6</a>
                    <hr>
                    <h4>Small Button</h4>
                    <a href="#" class="btn btn-default btn-small btn-circle">d</a>
                    <a href="#" class="btn btn-primary btn-small btn-circle">p</a>
                    <a href="#" class="btn btn-danger btn-small btn-circle">d</a>
                    <a href="#" class="btn btn-success btn-small btn-circle">s</a>
                    <a href="#" class="btn btn-info btn-small btn-circle">i</a>
                    <a href="#" class="btn btn-warning btn-small btn-circle">w</a>

                    <a href="#" class="btn btn-metis-1 btn-small btn-circle">1</a>
                    <a href="#" class="btn btn-metis-2 btn-small btn-circle">2</a>
                    <a href="#" class="btn btn-metis-3 btn-small btn-circle">3</a>
                    <a href="#" class="btn btn-metis-4 btn-small btn-circle">4</a>
                    <a href="#" class="btn btn-metis-5 btn-small btn-circle">5</a>
                    <a href="#" class="btn btn-metis-6 btn-small btn-circle">6</a>
                    <hr>
                    <h4>Large Button</h4>

                    <a href="#" class="btn btn-default btn-large btn-circle">def</a>
                    <a href="#" class="btn btn-primary btn-large btn-circle">pri</a>
                    <a href="#" class="btn btn-danger btn-large btn-circle">dan</a>
                    <a href="#" class="btn btn-success btn-large btn-circle">suc</a>
                    <a href="#" class="btn btn-info btn-large btn-circle">inf</a>
                    <a href="#" class="btn btn-warning btn-large btn-circle">war</a>

                    <a href="#" class="btn btn-metis-1 btn-large btn-circle">m-1</a>
                    <a href="#" class="btn btn-metis-2 btn-large btn-circle">m-2</a>
                    <a href="#" class="btn btn-metis-3 btn-large btn-circle">m-3</a>
                    <a href="#" class="btn btn-metis-4 btn-large btn-circle">m-4</a>
                    <a href="#" class="btn btn-metis-5 btn-large btn-circle">m-5</a>
                    <a href="#" class="btn btn-metis-6 btn-large btn-circle">m-6</a>
                </div>
                <!-- /.body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col-lg-12 -->


        <div class="col-lg-12">
            <div class="box success">
                <header>
                    <div class="icons"><i class="icon-building"></i></div>
                    <h5>Rounded Button</h5>
                    <div class="toolbar">
                        <button class="btn btn-primary btn-small btn-round" data-toggle="collapse" data-target="#div5">round</button>
                    </div>
                </header>
                <div class="body collapse in" id="div5">
                    <h3>Default Button</h3>
                    <a href="#" class="btn btn-default btn-round">default</a>
                    <a href="#" class="btn btn-primary btn-round">primary</a>
                    <a href="#" class="btn btn-danger btn-round">danger</a>
                    <a href="#" class="btn btn-success btn-round">success</a>
                    <a href="#" class="btn btn-info btn-round">info</a>
                    <a href="#" class="btn btn-warning btn-round">warning</a>

                    <a href="#" class="btn btn-metis-1 btn-round">metis-1</a>
                    <a href="#" class="btn btn-metis-2 btn-round">metis-2</a>
                    <a href="#" class="btn btn-metis-3 btn-round">metis-3</a>
                    <a href="#" class="btn btn-metis-4 btn-round">metis-4</a>
                    <a href="#" class="btn btn-metis-5 btn-round">metis-5</a>
                    <a href="#" class="btn btn-metis-6 btn-round">metis-6</a>
                    <hr>
                    <h4>Mini Button</h4>
                    <a href="#" class="btn btn-default btn-mini btn-round">default</a>
                    <a href="#" class="btn btn-primary btn-mini btn-round">primary</a>
                    <a href="#" class="btn btn-danger btn-mini btn-round">danger</a>
                    <a href="#" class="btn btn-success btn-mini btn-round">success</a>
                    <a href="#" class="btn btn-info btn-mini btn-round">info</a>
                    <a href="#" class="btn btn-warning btn-mini btn-round">warning</a>

                    <a href="#" class="btn btn-metis-1 btn-mini btn-round">metis-1</a>
                    <a href="#" class="btn btn-metis-2 btn-mini btn-round">metis-2</a>
                    <a href="#" class="btn btn-metis-3 btn-mini btn-round">metis-3</a>
                    <a href="#" class="btn btn-metis-4 btn-mini btn-round">metis-4</a>
                    <a href="#" class="btn btn-metis-5 btn-mini btn-round">metis-5</a>
                    <a href="#" class="btn btn-metis-6 btn-mini btn-round">metis-6</a>
                    <hr>
                    <h4>Small Button</h4>
                    <a href="#" class="btn btn-default btn-small btn-round">default</a>
                    <a href="#" class="btn btn-primary btn-small btn-round">primary</a>
                    <a href="#" class="btn btn-danger btn-small btn-round">danger</a>
                    <a href="#" class="btn btn-success btn-small btn-round">success</a>
                    <a href="#" class="btn btn-info btn-small btn-round">info</a>
                    <a href="#" class="btn btn-warning btn-small btn-round">warning</a>

                    <a href="#" class="btn btn-metis-1 btn-small btn-round">metis-1</a>
                    <a href="#" class="btn btn-metis-2 btn-small btn-round">metis-2</a>
                    <a href="#" class="btn btn-metis-3 btn-small btn-round">metis-3</a>
                    <a href="#" class="btn btn-metis-4 btn-small btn-round">metis-4</a>
                    <a href="#" class="btn btn-metis-5 btn-small btn-round">metis-5</a>
                    <a href="#" class="btn btn-metis-6 btn-small btn-round">metis-6</a>
                    <hr>
                    <h4>Large Button</h4>

                    <a href="#" class="btn btn-default btn-large btn-round">default</a>
                    <a href="#" class="btn btn-primary btn-large btn-round">primary</a>
                    <a href="#" class="btn btn-danger btn-large btn-round">danger</a>
                    <a href="#" class="btn btn-success btn-large btn-round">success</a>
                    <a href="#" class="btn btn-info btn-large btn-round">info</a>
                    <a href="#" class="btn btn-warning btn-large btn-round">warning</a>

                    <a href="#" class="btn btn-metis-1 btn-large btn-round">metis-1</a>
                    <a href="#" class="btn btn-metis-2 btn-large btn-round">metis-2</a>
                    <a href="#" class="btn btn-metis-3 btn-large btn-round">metis-3</a>
                    <a href="#" class="btn btn-metis-4 btn-large btn-round">metis-4</a>
                    <a href="#" class="btn btn-metis-5 btn-large btn-round">metis-5</a>
                    <a href="#" class="btn btn-metis-6 btn-large btn-round">metis-6</a>
                </div>
                <!-- /.body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col-lg-12 -->




        <div class="col-lg-12">
            <div class="box inverse">
                <header>
                    <div class="icons"><i class="icon-building"></i></div>
                    <h5>Flat Button</h5>
                    <div class="toolbar">
                        <button class="btn btn-info btn-small btn-flat" data-toggle="collapse" data-target="#div6">flat</button>
                    </div>
                </header>
                <div class="body collapse in" id="div6">
                    <h3>Default Button</h3>
                    <a href="#" class="btn btn-default btn-flat">default</a>
                    <a href="#" class="btn btn-primary btn-flat">primary</a>
                    <a href="#" class="btn btn-danger btn-flat">danger</a>
                    <a href="#" class="btn btn-success btn-flat">success</a>
                    <a href="#" class="btn btn-info btn-flat">info</a>
                    <a href="#" class="btn btn-warning btn-flat">warning</a>

                    <a href="#" class="btn btn-metis-1 btn-flat">metis-1</a>
                    <a href="#" class="btn btn-metis-2 btn-flat">metis-2</a>
                    <a href="#" class="btn btn-metis-3 btn-flat">metis-3</a>
                    <a href="#" class="btn btn-metis-4 btn-flat">metis-4</a>
                    <a href="#" class="btn btn-metis-5 btn-flat">metis-5</a>
                    <a href="#" class="btn btn-metis-6 btn-flat">metis-6</a>
                    <hr>
                    <h4>Mini Button</h4>
                    <a href="#" class="btn btn-default btn-mini btn-flat">default</a>
                    <a href="#" class="btn btn-primary btn-mini btn-flat">primary</a>
                    <a href="#" class="btn btn-danger btn-mini btn-flat">danger</a>
                    <a href="#" class="btn btn-success btn-mini btn-flat">success</a>
                    <a href="#" class="btn btn-info btn-mini btn-flat">info</a>
                    <a href="#" class="btn btn-warning btn-mini btn-flat">warning</a>

                    <a href="#" class="btn btn-metis-1 btn-mini btn-flat">metis-1</a>
                    <a href="#" class="btn btn-metis-2 btn-mini btn-flat">metis-2</a>
                    <a href="#" class="btn btn-metis-3 btn-mini btn-flat">metis-3</a>
                    <a href="#" class="btn btn-metis-4 btn-mini btn-flat">metis-4</a>
                    <a href="#" class="btn btn-metis-5 btn-mini btn-flat">metis-5</a>
                    <a href="#" class="btn btn-metis-6 btn-mini btn-flat">metis-6</a>
                    <hr>
                    <h4>Small Button</h4>
                    <a href="#" class="btn btn-default btn-small btn-flat">default</a>
                    <a href="#" class="btn btn-primary btn-small btn-flat">primary</a>
                    <a href="#" class="btn btn-danger btn-small btn-flat">danger</a>
                    <a href="#" class="btn btn-success btn-small btn-flat">success</a>
                    <a href="#" class="btn btn-info btn-small btn-flat">info</a>
                    <a href="#" class="btn btn-warning btn-small btn-flat">warning</a>

                    <a href="#" class="btn btn-metis-1 btn-small btn-flat">metis-1</a>
                    <a href="#" class="btn btn-metis-2 btn-small btn-flat">metis-2</a>
                    <a href="#" class="btn btn-metis-3 btn-small btn-flat">metis-3</a>
                    <a href="#" class="btn btn-metis-4 btn-small btn-flat">metis-4</a>
                    <a href="#" class="btn btn-metis-5 btn-small btn-flat">metis-5</a>
                    <a href="#" class="btn btn-metis-6 btn-small btn-flat">metis-6</a>
                    <hr>
                    <h4>Large Button</h4>

                    <a href="#" class="btn btn-default btn-large btn-flat">default</a>
                    <a href="#" class="btn btn-primary btn-large btn-flat">primary</a>
                    <a href="#" class="btn btn-danger btn-large btn-flat">danger</a>
                    <a href="#" class="btn btn-success btn-large btn-flat">success</a>
                    <a href="#" class="btn btn-info btn-large btn-flat">info</a>
                    <a href="#" class="btn btn-warning btn-large btn-flat">warning</a>

                    <a href="#" class="btn btn-metis-1 btn-large btn-flat">metis-1</a>
                    <a href="#" class="btn btn-metis-2 btn-large btn-flat">metis-2</a>
                    <a href="#" class="btn btn-metis-3 btn-large btn-flat">metis-3</a>
                    <a href="#" class="btn btn-metis-4 btn-large btn-flat">metis-4</a>
                    <a href="#" class="btn btn-metis-5 btn-large btn-flat">metis-5</a>
                    <a href="#" class="btn btn-metis-6 btn-large btn-flat">metis-6</a>
                </div>
                <!-- /.body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col-lg-12 -->


        <div class="col-lg-12">
            <div class="box danger">
                <header>
                    <div class="icons"><i class="icon-building"></i></div>
                    <h5>Gradient Button</h5>
                    <div class="toolbar">
                        <button class="btn btn-default btn-small btn-grad" data-toggle="collapse" data-target="#div7">gradient</button>
                    </div>
                </header>
                <div class="body collapse in" id="div7">
                    <h3>Default Button</h3>
                    <a href="#" class="btn btn-default btn-grad">default</a>
                    <a href="#" class="btn btn-primary btn-grad">primary</a>
                    <a href="#" class="btn btn-danger btn-grad">danger</a>
                    <a href="#" class="btn btn-success btn-grad">success</a>
                    <a href="#" class="btn btn-info btn-grad">info</a>
                    <a href="#" class="btn btn-warning btn-grad">warning</a>

                    <a href="#" class="btn btn-metis-1 btn-grad">metis-1</a>
                    <a href="#" class="btn btn-metis-2 btn-grad">metis-2</a>
                    <a href="#" class="btn btn-metis-3 btn-grad">metis-3</a>
                    <a href="#" class="btn btn-metis-4 btn-grad">metis-4</a>
                    <a href="#" class="btn btn-metis-5 btn-grad">metis-5</a>
                    <a href="#" class="btn btn-metis-6 btn-grad">metis-6</a>
                    <hr>
                    <h4>Mini Button</h4>
                    <a href="#" class="btn btn-default btn-mini btn-grad">default</a>
                    <a href="#" class="btn btn-primary btn-mini btn-grad">primary</a>
                    <a href="#" class="btn btn-danger btn-mini btn-grad">danger</a>
                    <a href="#" class="btn btn-success btn-mini btn-grad">success</a>
                    <a href="#" class="btn btn-info btn-mini btn-grad">info</a>
                    <a href="#" class="btn btn-warning btn-mini btn-grad">warning</a>

                    <a href="#" class="btn btn-metis-1 btn-mini btn-grad">metis-1</a>
                    <a href="#" class="btn btn-metis-2 btn-mini btn-grad">metis-2</a>
                    <a href="#" class="btn btn-metis-3 btn-mini btn-grad">metis-3</a>
                    <a href="#" class="btn btn-metis-4 btn-mini btn-grad">metis-4</a>
                    <a href="#" class="btn btn-metis-5 btn-mini btn-grad">metis-5</a>
                    <a href="#" class="btn btn-metis-6 btn-mini btn-grad">metis-6</a>
                    <hr>
                    <h4>Small Button</h4>
                    <a href="#" class="btn btn-default btn-small btn-grad">default</a>
                    <a href="#" class="btn btn-primary btn-small btn-grad">primary</a>
                    <a href="#" class="btn btn-danger btn-small btn-grad">danger</a>
                    <a href="#" class="btn btn-success btn-small btn-grad">success</a>
                    <a href="#" class="btn btn-info btn-small btn-grad">info</a>
                    <a href="#" class="btn btn-warning btn-small btn-grad">warning</a>

                    <a href="#" class="btn btn-metis-1 btn-small btn-grad">metis-1</a>
                    <a href="#" class="btn btn-metis-2 btn-small btn-grad">metis-2</a>
                    <a href="#" class="btn btn-metis-3 btn-small btn-grad">metis-3</a>
                    <a href="#" class="btn btn-metis-4 btn-small btn-grad">metis-4</a>
                    <a href="#" class="btn btn-metis-5 btn-small btn-grad">metis-5</a>
                    <a href="#" class="btn btn-metis-6 btn-small btn-grad">metis-6</a>
                    <hr>
                    <h4>Large Button</h4>

                    <a href="#" class="btn btn-default btn-large btn-grad">default</a>
                    <a href="#" class="btn btn-primary btn-large btn-grad">primary</a>
                    <a href="#" class="btn btn-danger btn-large btn-grad">danger</a>
                    <a href="#" class="btn btn-success btn-large btn-grad">success</a>
                    <a href="#" class="btn btn-info btn-large btn-grad">info</a>
                    <a href="#" class="btn btn-warning btn-large btn-grad">warning</a>

                    <a href="#" class="btn btn-metis-1 btn-large btn-grad">metis-1</a>
                    <a href="#" class="btn btn-metis-2 btn-large btn-grad">metis-2</a>
                    <a href="#" class="btn btn-metis-3 btn-large btn-grad">metis-3</a>
                    <a href="#" class="btn btn-metis-4 btn-large btn-grad">metis-4</a>
                    <a href="#" class="btn btn-metis-5 btn-large btn-grad">metis-5</a>
                    <a href="#" class="btn btn-metis-6 btn-large btn-grad">metis-6</a>
                </div>
                <!-- /.body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col-lg-12 -->


        <div class="col-lg-12">
            <div class="box danger">
                <header>
                    <div class="icons"><i class="icon-building"></i></div>
                    <h5>Gradient & Rectangle Button</h5>
                    <div class="toolbar">
                        <button class="btn btn-default btn-small btn-grad btn-rect" data-toggle="collapse" data-target="#div8">gradient & rectangle</button>
                    </div>
                </header>
                <div class="body collapse in" id="div8">
                    <h3>Default Button</h3>
                    <a href="#" class="btn btn-default btn-grad btn-rect">default</a>
                    <a href="#" class="btn btn-primary btn-grad btn-rect">primary</a>
                    <a href="#" class="btn btn-danger btn-grad btn-rect">danger</a>
                    <a href="#" class="btn btn-success btn-grad btn-rect">success</a>
                    <a href="#" class="btn btn-info btn-grad btn-rect">info</a>
                    <a href="#" class="btn btn-warning btn-grad btn-rect">warning</a>

                    <a href="#" class="btn btn-metis-1 btn-grad btn-rect">metis-1</a>
                    <a href="#" class="btn btn-metis-2 btn-grad btn-rect">metis-2</a>
                    <a href="#" class="btn btn-metis-3 btn-grad btn-rect">metis-3</a>
                    <a href="#" class="btn btn-metis-4 btn-grad btn-rect">metis-4</a>
                    <a href="#" class="btn btn-metis-5 btn-grad btn-rect">metis-5</a>
                    <a href="#" class="btn btn-metis-6 btn-grad btn-rect">metis-6</a>
                    <hr>
                    <h4>Mini Button</h4>
                    <a href="#" class="btn btn-default btn-mini btn-grad btn-rect">default</a>
                    <a href="#" class="btn btn-primary btn-mini btn-grad btn-rect">primary</a>
                    <a href="#" class="btn btn-danger btn-mini btn-grad btn-rect">danger</a>
                    <a href="#" class="btn btn-success btn-mini btn-grad btn-rect">success</a>
                    <a href="#" class="btn btn-info btn-mini btn-grad btn-rect">info</a>
                    <a href="#" class="btn btn-warning btn-mini btn-grad btn-rect">warning</a>

                    <a href="#" class="btn btn-metis-1 btn-mini btn-grad btn-rect">metis-1</a>
                    <a href="#" class="btn btn-metis-2 btn-mini btn-grad btn-rect">metis-2</a>
                    <a href="#" class="btn btn-metis-3 btn-mini btn-grad btn-rect">metis-3</a>
                    <a href="#" class="btn btn-metis-4 btn-mini btn-grad btn-rect">metis-4</a>
                    <a href="#" class="btn btn-metis-5 btn-mini btn-grad btn-rect">metis-5</a>
                    <a href="#" class="btn btn-metis-6 btn-mini btn-grad btn-rect">metis-6</a>
                    <hr>
                    <h4>Small Button</h4>
                    <a href="#" class="btn btn-default btn-small btn-grad btn-rect">default</a>
                    <a href="#" class="btn btn-primary btn-small btn-grad btn-rect">primary</a>
                    <a href="#" class="btn btn-danger btn-small btn-grad btn-rect">danger</a>
                    <a href="#" class="btn btn-success btn-small btn-grad btn-rect">success</a>
                    <a href="#" class="btn btn-info btn-small btn-grad btn-rect">info</a>
                    <a href="#" class="btn btn-warning btn-small btn-grad btn-rect">warning</a>

                    <a href="#" class="btn btn-metis-1 btn-small btn-grad btn-rect">metis-1</a>
                    <a href="#" class="btn btn-metis-2 btn-small btn-grad btn-rect">metis-2</a>
                    <a href="#" class="btn btn-metis-3 btn-small btn-grad btn-rect">metis-3</a>
                    <a href="#" class="btn btn-metis-4 btn-small btn-grad btn-rect">metis-4</a>
                    <a href="#" class="btn btn-metis-5 btn-small btn-grad btn-rect">metis-5</a>
                    <a href="#" class="btn btn-metis-6 btn-small btn-grad btn-rect">metis-6</a>
                    <hr>
                    <h4>Large Button</h4>

                    <a href="#" class="btn btn-default btn-large btn-grad btn-rect">default</a>
                    <a href="#" class="btn btn-primary btn-large btn-grad btn-rect">primary</a>
                    <a href="#" class="btn btn-danger btn-large btn-grad btn-rect">danger</a>
                    <a href="#" class="btn btn-success btn-large btn-grad btn-rect">success</a>
                    <a href="#" class="btn btn-info btn-large btn-grad btn-rect">info</a>
                    <a href="#" class="btn btn-warning btn-large btn-grad btn-rect">warning</a>

                    <a href="#" class="btn btn-metis-1 btn-large btn-grad btn-rect">metis-1</a>
                    <a href="#" class="btn btn-metis-2 btn-large btn-grad btn-rect">metis-2</a>
                    <a href="#" class="btn btn-metis-3 btn-large btn-grad btn-rect">metis-3</a>
                    <a href="#" class="btn btn-metis-4 btn-large btn-grad btn-rect">metis-4</a>
                    <a href="#" class="btn btn-metis-5 btn-large btn-grad btn-rect">metis-5</a>
                    <a href="#" class="btn btn-metis-6 btn-large btn-grad btn-rect">metis-6</a>
                </div>
                <!-- /.body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col-lg-12 -->


        <div class="col-lg-12">
            <div class="box primary">
                <header>
                    <div class="icons"><i class="icon-building"></i></div>
                    <h5>Flat & Rectangle Button</h5>
                    <div class="toolbar">
                        <button class="btn btn-info btn-small btn-flat btn-rect" data-toggle="collapse" data-target="#div9">flat & rectangle</button>
                    </div>
                </header>
                <div class="body collapse in" id="div9">
                    <h3>Default Button</h3>
                    <a href="#" class="btn btn-default btn-flat btn-rect">default</a>
                    <a href="#" class="btn btn-primary btn-flat btn-rect">primary</a>
                    <a href="#" class="btn btn-danger btn-flat btn-rect">danger</a>
                    <a href="#" class="btn btn-success btn-flat btn-rect">success</a>
                    <a href="#" class="btn btn-info btn-flat btn-rect">info</a>
                    <a href="#" class="btn btn-warning btn-flat btn-rect">warning</a>

                    <a href="#" class="btn btn-metis-1 btn-flat btn-rect">metis-1</a>
                    <a href="#" class="btn btn-metis-2 btn-flat btn-rect">metis-2</a>
                    <a href="#" class="btn btn-metis-3 btn-flat btn-rect">metis-3</a>
                    <a href="#" class="btn btn-metis-4 btn-flat btn-rect">metis-4</a>
                    <a href="#" class="btn btn-metis-5 btn-flat btn-rect">metis-5</a>
                    <a href="#" class="btn btn-metis-6 btn-flat btn-rect">metis-6</a>
                    <hr>
                    <h4>Mini Button</h4>
                    <a href="#" class="btn btn-default btn-mini btn-flat btn-rect">default</a>
                    <a href="#" class="btn btn-primary btn-mini btn-flat btn-rect">primary</a>
                    <a href="#" class="btn btn-danger btn-mini btn-flat btn-rect">danger</a>
                    <a href="#" class="btn btn-success btn-mini btn-flat btn-rect">success</a>
                    <a href="#" class="btn btn-info btn-mini btn-flat btn-rect">info</a>
                    <a href="#" class="btn btn-warning btn-mini btn-flat btn-rect">warning</a>

                    <a href="#" class="btn btn-metis-1 btn-mini btn-flat btn-rect">metis-1</a>
                    <a href="#" class="btn btn-metis-2 btn-mini btn-flat btn-rect">metis-2</a>
                    <a href="#" class="btn btn-metis-3 btn-mini btn-flat btn-rect">metis-3</a>
                    <a href="#" class="btn btn-metis-4 btn-mini btn-flat btn-rect">metis-4</a>
                    <a href="#" class="btn btn-metis-5 btn-mini btn-flat btn-rect">metis-5</a>
                    <a href="#" class="btn btn-metis-6 btn-mini btn-flat btn-rect">metis-6</a>
                    <hr>
                    <h4>Small Button</h4>
                    <a href="#" class="btn btn-default btn-small btn-flat btn-rect">default</a>
                    <a href="#" class="btn btn-primary btn-small btn-flat btn-rect">primary</a>
                    <a href="#" class="btn btn-danger btn-small btn-flat btn-rect">danger</a>
                    <a href="#" class="btn btn-success btn-small btn-flat btn-rect">success</a>
                    <a href="#" class="btn btn-info btn-small btn-flat btn-rect">info</a>
                    <a href="#" class="btn btn-warning btn-small btn-flat btn-rect">warning</a>

                    <a href="#" class="btn btn-metis-1 btn-small btn-flat btn-rect">metis-1</a>
                    <a href="#" class="btn btn-metis-2 btn-small btn-flat btn-rect">metis-2</a>
                    <a href="#" class="btn btn-metis-3 btn-small btn-flat btn-rect">metis-3</a>
                    <a href="#" class="btn btn-metis-4 btn-small btn-flat btn-rect">metis-4</a>
                    <a href="#" class="btn btn-metis-5 btn-small btn-flat btn-rect">metis-5</a>
                    <a href="#" class="btn btn-metis-6 btn-small btn-flat btn-rect">metis-6</a>
                    <hr>
                    <h4>Large Button</h4>

                    <a href="#" class="btn btn-default btn-large btn-flat btn-rect">default</a>
                    <a href="#" class="btn btn-primary btn-large btn-flat btn-rect">primary</a>
                    <a href="#" class="btn btn-danger btn-large btn-flat btn-rect">danger</a>
                    <a href="#" class="btn btn-success btn-large btn-flat btn-rect">success</a>
                    <a href="#" class="btn btn-info btn-large btn-flat btn-rect">info</a>
                    <a href="#" class="btn btn-warning btn-large btn-flat btn-rect">warning</a>

                    <a href="#" class="btn btn-metis-1 btn-large btn-flat btn-rect">metis-1</a>
                    <a href="#" class="btn btn-metis-2 btn-large btn-flat btn-rect">metis-2</a>
                    <a href="#" class="btn btn-metis-3 btn-large btn-flat btn-rect">metis-3</a>
                    <a href="#" class="btn btn-metis-4 btn-large btn-flat btn-rect">metis-4</a>
                    <a href="#" class="btn btn-metis-5 btn-large btn-flat btn-rect">metis-5</a>
                    <a href="#" class="btn btn-metis-6 btn-large btn-flat btn-rect">metis-6</a>
                </div>
                <!-- /.body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col-lg-12 -->



        <div class="col-lg-12">
            <div class="box danger">
                <header>
                    <div class="icons"><i class="icon-building"></i></div>
                    <h5>Line & Rectangle Button</h5>
                    <div class="toolbar">
                        <button class="btn btn-info btn-small btn-line btn-rect" data-toggle="collapse" data-target="#div10">line & rectangle</button>
                    </div>
                </header>
                <div class="body collapse in" id="div10">
                    <h3>Default Button</h3>
                    <a href="#" class="btn btn-default btn-line btn-rect">default</a>
                    <a href="#" class="btn btn-primary btn-line btn-rect">primary</a>
                    <a href="#" class="btn btn-danger btn-line btn-rect">danger</a>
                    <a href="#" class="btn btn-success btn-line btn-rect">success</a>
                    <a href="#" class="btn btn-info btn-line btn-rect">info</a>
                    <a href="#" class="btn btn-warning btn-line btn-rect">warning</a>

                    <a href="#" class="btn btn-metis-1 btn-line btn-rect">metis-1</a>
                    <a href="#" class="btn btn-metis-2 btn-line btn-rect">metis-2</a>
                    <a href="#" class="btn btn-metis-3 btn-line btn-rect">metis-3</a>
                    <a href="#" class="btn btn-metis-4 btn-line btn-rect">metis-4</a>
                    <a href="#" class="btn btn-metis-5 btn-line btn-rect">metis-5</a>
                    <a href="#" class="btn btn-metis-6 btn-line btn-rect">metis-6</a>
                    <hr>
                    <h4>Mini Button</h4>
                    <a href="#" class="btn btn-default btn-mini btn-line btn-rect">default</a>
                    <a href="#" class="btn btn-primary btn-mini btn-line btn-rect">primary</a>
                    <a href="#" class="btn btn-danger btn-mini btn-line btn-rect">danger</a>
                    <a href="#" class="btn btn-success btn-mini btn-line btn-rect">success</a>
                    <a href="#" class="btn btn-info btn-mini btn-line btn-rect">info</a>
                    <a href="#" class="btn btn-warning btn-mini btn-line btn-rect">warning</a>

                    <a href="#" class="btn btn-metis-1 btn-mini btn-line btn-rect">metis-1</a>
                    <a href="#" class="btn btn-metis-2 btn-mini btn-line btn-rect">metis-2</a>
                    <a href="#" class="btn btn-metis-3 btn-mini btn-line btn-rect">metis-3</a>
                    <a href="#" class="btn btn-metis-4 btn-mini btn-line btn-rect">metis-4</a>
                    <a href="#" class="btn btn-metis-5 btn-mini btn-line btn-rect">metis-5</a>
                    <a href="#" class="btn btn-metis-6 btn-mini btn-line btn-rect">metis-6</a>
                    <hr>
                    <h4>Small Button</h4>
                    <a href="#" class="btn btn-default btn-small btn-line btn-rect">default</a>
                    <a href="#" class="btn btn-primary btn-small btn-line btn-rect">primary</a>
                    <a href="#" class="btn btn-danger btn-small btn-line btn-rect">danger</a>
                    <a href="#" class="btn btn-success btn-small btn-line btn-rect">success</a>
                    <a href="#" class="btn btn-info btn-small btn-line btn-rect">info</a>
                    <a href="#" class="btn btn-warning btn-small btn-line btn-rect">warning</a>

                    <a href="#" class="btn btn-metis-1 btn-small btn-line btn-rect">metis-1</a>
                    <a href="#" class="btn btn-metis-2 btn-small btn-line btn-rect">metis-2</a>
                    <a href="#" class="btn btn-metis-3 btn-small btn-line btn-rect">metis-3</a>
                    <a href="#" class="btn btn-metis-4 btn-small btn-line btn-rect">metis-4</a>
                    <a href="#" class="btn btn-metis-5 btn-small btn-line btn-rect">metis-5</a>
                    <a href="#" class="btn btn-metis-6 btn-small btn-line btn-rect">metis-6</a>
                    <hr>
                    <h4>Large Button</h4>

                    <a href="#" class="btn btn-default btn-large btn-line btn-rect">default</a>
                    <a href="#" class="btn btn-primary btn-large btn-line btn-rect">primary</a>
                    <a href="#" class="btn btn-danger btn-large btn-line btn-rect">danger</a>
                    <a href="#" class="btn btn-success btn-large btn-line btn-rect">success</a>
                    <a href="#" class="btn btn-info btn-large btn-line btn-rect">info</a>
                    <a href="#" class="btn btn-warning btn-large btn-line btn-rect">warning</a>

                    <a href="#" class="btn btn-metis-1 btn-large btn-line btn-rect">metis-1</a>
                    <a href="#" class="btn btn-metis-2 btn-large btn-line btn-rect">metis-2</a>
                    <a href="#" class="btn btn-metis-3 btn-large btn-line btn-rect">metis-3</a>
                    <a href="#" class="btn btn-metis-4 btn-large btn-line btn-rect">metis-4</a>
                    <a href="#" class="btn btn-metis-5 btn-large btn-line btn-rect">metis-5</a>
                    <a href="#" class="btn btn-metis-6 btn-large btn-line btn-rect">metis-6</a>
                </div>
                <!-- /.body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col-lg-12 -->



        <div class="col-lg-12">
            <div class="box danger">
                <header>
                    <div class="icons"><i class="icon-building"></i></div>
                    <h5>Circle & Line Button</h5>
                    <div class="toolbar">
                        <button class="btn btn-success btn-small btn-circle btn-line" data-toggle="collapse" data-target="#div11">c</button>
                    </div>
                </header>
                <div class="body collapse in" id="div11">
                    <h3>Default Button</h3>
                    <a href="#" class="btn btn-default btn-circle btn-line">de</a>
                    <a href="#" class="btn btn-primary btn-circle btn-line">pr</a>
                    <a href="#" class="btn btn-danger btn-circle btn-line">da</a>
                    <a href="#" class="btn btn-success btn-circle btn-line">su</a>
                    <a href="#" class="btn btn-info btn-circle btn-line">in</a>
                    <a href="#" class="btn btn-warning btn-circle btn-line">wa</a>

                    <a href="#" class="btn btn-metis-1 btn-circle btn-line">m1</a>
                    <a href="#" class="btn btn-metis-2 btn-circle btn-line">m2</a>
                    <a href="#" class="btn btn-metis-3 btn-circle btn-line">m3</a>
                    <a href="#" class="btn btn-metis-4 btn-circle btn-line">m4</a>
                    <a href="#" class="btn btn-metis-5 btn-circle btn-line">m5</a>
                    <a href="#" class="btn btn-metis-6 btn-circle btn-line">m6</a>
                    <hr>

                    <h4>Mini Button</h4>
                    <a href="#" class="btn btn-default btn-mini btn-circle btn-line">d</a>
                    <a href="#" class="btn btn-primary btn-mini btn-circle btn-line">p</a>
                    <a href="#" class="btn btn-danger btn-mini btn-circle btn-line">d</a>
                    <a href="#" class="btn btn-success btn-mini btn-circle btn-line">s</a>
                    <a href="#" class="btn btn-info btn-mini btn-circle btn-line">i</a>
                    <a href="#" class="btn btn-warning btn-mini btn-circle btn-line">w</a>

                    <a href="#" class="btn btn-metis-1 btn-mini btn-circle btn-line">1</a>
                    <a href="#" class="btn btn-metis-2 btn-mini btn-circle btn-line">2</a>
                    <a href="#" class="btn btn-metis-3 btn-mini btn-circle btn-line">3</a>
                    <a href="#" class="btn btn-metis-4 btn-mini btn-circle btn-line">4</a>
                    <a href="#" class="btn btn-metis-5 btn-mini btn-circle btn-line">5</a>
                    <a href="#" class="btn btn-metis-6 btn-mini btn-circle btn-line">6</a>
                    <hr>

                    <h4>Small Button</h4>
                    <a href="#" class="btn btn-default btn-small btn-circle btn-line">d</a>
                    <a href="#" class="btn btn-primary btn-small btn-circle btn-line">p</a>
                    <a href="#" class="btn btn-danger btn-small btn-circle btn-line">d</a>
                    <a href="#" class="btn btn-success btn-small btn-circle btn-line">s</a>
                    <a href="#" class="btn btn-info btn-small btn-circle btn-line">i</a>
                    <a href="#" class="btn btn-warning btn-small btn-circle btn-line">w</a>

                    <a href="#" class="btn btn-metis-1 btn-small btn-circle btn-line">1</a>
                    <a href="#" class="btn btn-metis-2 btn-small btn-circle btn-line">2</a>
                    <a href="#" class="btn btn-metis-3 btn-small btn-circle btn-line">3</a>
                    <a href="#" class="btn btn-metis-4 btn-small btn-circle btn-line">4</a>
                    <a href="#" class="btn btn-metis-5 btn-small btn-circle btn-line">5</a>
                    <a href="#" class="btn btn-metis-6 btn-small btn-circle btn-line">6</a>
                    <hr>
                    <h4>Large Button</h4>

                    <a href="#" class="btn btn-default btn-large btn-circle btn-line">def</a>
                    <a href="#" class="btn btn-primary btn-large btn-circle btn-line">pri</a>
                    <a href="#" class="btn btn-danger btn-large btn-circle btn-line">dan</a>
                    <a href="#" class="btn btn-success btn-large btn-circle btn-line">suc</a>
                    <a href="#" class="btn btn-info btn-large btn-circle btn-line">inf</a>
                    <a href="#" class="btn btn-warning btn-large btn-circle btn-line">war</a>

                    <a href="#" class="btn btn-metis-1 btn-large btn-circle btn-line">m-1</a>
                    <a href="#" class="btn btn-metis-2 btn-large btn-circle btn-line">m-2</a>
                    <a href="#" class="btn btn-metis-3 btn-large btn-circle btn-line">m-3</a>
                    <a href="#" class="btn btn-metis-4 btn-large btn-circle btn-line">m-4</a>
                    <a href="#" class="btn btn-metis-5 btn-large btn-circle btn-line">m-5</a>
                    <a href="#" class="btn btn-metis-6 btn-large btn-circle btn-line">m-6</a>
                </div>
                <!-- /.body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col-lg-12 -->




        <div class="col-lg-12">
            <div class="box danger">
                <header>
                    <div class="icons"><i class="icon-building"></i></div>
                    <h5>Circle & Gradient Button</h5>
                    <div class="toolbar">
                        <button class="btn btn-success btn-small btn-circle btn-grad" data-toggle="collapse" data-target="#div12">c</button>
                    </div>
                </header>
                <div class="body collapse in" id="div12">
                    <h3>Default Button</h3>
                    <a href="#" class="btn btn-default btn-circle btn-grad">de</a>
                    <a href="#" class="btn btn-primary btn-circle btn-grad">pr</a>
                    <a href="#" class="btn btn-danger btn-circle btn-grad">da</a>
                    <a href="#" class="btn btn-success btn-circle btn-grad">su</a>
                    <a href="#" class="btn btn-info btn-circle btn-grad">in</a>
                    <a href="#" class="btn btn-warning btn-circle btn-grad">wa</a>

                    <a href="#" class="btn btn-metis-1 btn-circle btn-grad">m1</a>
                    <a href="#" class="btn btn-metis-2 btn-circle btn-grad">m2</a>
                    <a href="#" class="btn btn-metis-3 btn-circle btn-grad">m3</a>
                    <a href="#" class="btn btn-metis-4 btn-circle btn-grad">m4</a>
                    <a href="#" class="btn btn-metis-5 btn-circle btn-grad">m5</a>
                    <a href="#" class="btn btn-metis-6 btn-circle btn-grad">m6</a>
                    <hr>
                    <h4>Mini Button</h4>
                    <a href="#" class="btn btn-default btn-mini btn-circle btn-grad">d</a>
                    <a href="#" class="btn btn-primary btn-mini btn-circle btn-grad">p</a>
                    <a href="#" class="btn btn-danger btn-mini btn-circle btn-grad">d</a>
                    <a href="#" class="btn btn-success btn-mini btn-circle btn-grad">s</a>
                    <a href="#" class="btn btn-info btn-mini btn-circle btn-grad">i</a>
                    <a href="#" class="btn btn-warning btn-mini btn-circle btn-grad">w</a>

                    <a href="#" class="btn btn-metis-1 btn-mini btn-circle btn-grad">1</a>
                    <a href="#" class="btn btn-metis-2 btn-mini btn-circle btn-grad">2</a>
                    <a href="#" class="btn btn-metis-3 btn-mini btn-circle btn-grad">3</a>
                    <a href="#" class="btn btn-metis-4 btn-mini btn-circle btn-grad">4</a>
                    <a href="#" class="btn btn-metis-5 btn-mini btn-circle btn-grad">5</a>
                    <a href="#" class="btn btn-metis-6 btn-mini btn-circle btn-grad">6</a>
                    <hr>
                    <h4>Small Button</h4>
                    <a href="#" class="btn btn-default btn-small btn-circle btn-grad">d</a>
                    <a href="#" class="btn btn-primary btn-small btn-circle btn-grad">p</a>
                    <a href="#" class="btn btn-danger btn-small btn-circle btn-grad">d</a>
                    <a href="#" class="btn btn-success btn-small btn-circle btn-grad">s</a>
                    <a href="#" class="btn btn-info btn-small btn-circle btn-grad">i</a>
                    <a href="#" class="btn btn-warning btn-small btn-circle btn-grad">w</a>

                    <a href="#" class="btn btn-metis-1 btn-small btn-circle btn-grad">1</a>
                    <a href="#" class="btn btn-metis-2 btn-small btn-circle btn-grad">2</a>
                    <a href="#" class="btn btn-metis-3 btn-small btn-circle btn-grad">3</a>
                    <a href="#" class="btn btn-metis-4 btn-small btn-circle btn-grad">4</a>
                    <a href="#" class="btn btn-metis-5 btn-small btn-circle btn-grad">5</a>
                    <a href="#" class="btn btn-metis-6 btn-small btn-circle btn-grad">6</a>
                    <hr>
                    <h4>Large Button</h4>

                    <a href="#" class="btn btn-default btn-large btn-circle btn-grad">def</a>
                    <a href="#" class="btn btn-primary btn-large btn-circle btn-grad">pri</a>
                    <a href="#" class="btn btn-danger btn-large btn-circle btn-grad">dan</a>
                    <a href="#" class="btn btn-success btn-large btn-circle btn-grad">suc</a>
                    <a href="#" class="btn btn-info btn-large btn-circle btn-grad">inf</a>
                    <a href="#" class="btn btn-warning btn-large btn-circle btn-grad">war</a>

                    <a href="#" class="btn btn-metis-1 btn-large btn-circle btn-grad">m-1</a>
                    <a href="#" class="btn btn-metis-2 btn-large btn-circle btn-grad">m-2</a>
                    <a href="#" class="btn btn-metis-3 btn-large btn-circle btn-grad">m-3</a>
                    <a href="#" class="btn btn-metis-4 btn-large btn-circle btn-grad">m-4</a>
                    <a href="#" class="btn btn-metis-5 btn-large btn-circle btn-grad">m-5</a>
                    <a href="#" class="btn btn-metis-6 btn-large btn-circle btn-grad">m-6</a>
                </div>
                <!-- /.body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col-lg-12 -->



        <div class="col-lg-12">
            <div class="box inverse">
                <header>
                    <div class="icons"><i class="icon-building"></i></div>
                    <h5>Rounded & Line Button</h5>
                    <div class="toolbar">
                        <button class="btn btn-primary btn-small btn-round btn-line" data-toggle="collapse" data-target="#div13">round & line</button>
                    </div>
                </header>
                <div class="body collapse in" id="div13">
                    <h3>Default Button</h3>
                    <a href="#" class="btn btn-default btn-round btn-line">default</a>
                    <a href="#" class="btn btn-primary btn-round btn-line">primary</a>
                    <a href="#" class="btn btn-danger btn-round btn-line">danger</a>
                    <a href="#" class="btn btn-success btn-round btn-line">success</a>
                    <a href="#" class="btn btn-info btn-round btn-line">info</a>
                    <a href="#" class="btn btn-warning btn-round btn-line">warning</a>

                    <a href="#" class="btn btn-metis-1 btn-round btn-line">metis-1</a>
                    <a href="#" class="btn btn-metis-2 btn-round btn-line">metis-2</a>
                    <a href="#" class="btn btn-metis-3 btn-round btn-line">metis-3</a>
                    <a href="#" class="btn btn-metis-4 btn-round btn-line">metis-4</a>
                    <a href="#" class="btn btn-metis-5 btn-round btn-line">metis-5</a>
                    <a href="#" class="btn btn-metis-6 btn-round btn-line">metis-6</a>
                    <hr>
                    <h4>Mini Button</h4>
                    <a href="#" class="btn btn-default btn-mini btn-round btn-line">default</a>
                    <a href="#" class="btn btn-primary btn-mini btn-round btn-line">primary</a>
                    <a href="#" class="btn btn-danger btn-mini btn-round btn-line">danger</a>
                    <a href="#" class="btn btn-success btn-mini btn-round btn-line">success</a>
                    <a href="#" class="btn btn-info btn-mini btn-round btn-line">info</a>
                    <a href="#" class="btn btn-warning btn-mini btn-round btn-line">warning</a>

                    <a href="#" class="btn btn-metis-1 btn-mini btn-round btn-line">metis-1</a>
                    <a href="#" class="btn btn-metis-2 btn-mini btn-round btn-line">metis-2</a>
                    <a href="#" class="btn btn-metis-3 btn-mini btn-round btn-line">metis-3</a>
                    <a href="#" class="btn btn-metis-4 btn-mini btn-round btn-line">metis-4</a>
                    <a href="#" class="btn btn-metis-5 btn-mini btn-round btn-line">metis-5</a>
                    <a href="#" class="btn btn-metis-6 btn-mini btn-round btn-line">metis-6</a>
                    <hr>
                    <h4>Small Button</h4>
                    <a href="#" class="btn btn-default btn-small btn-round btn-line">default</a>
                    <a href="#" class="btn btn-primary btn-small btn-round btn-line">primary</a>
                    <a href="#" class="btn btn-danger btn-small btn-round btn-line">danger</a>
                    <a href="#" class="btn btn-success btn-small btn-round btn-line">success</a>
                    <a href="#" class="btn btn-info btn-small btn-round btn-line">info</a>
                    <a href="#" class="btn btn-warning btn-small btn-round btn-line">warning</a>

                    <a href="#" class="btn btn-metis-1 btn-small btn-round btn-line">metis-1</a>
                    <a href="#" class="btn btn-metis-2 btn-small btn-round btn-line">metis-2</a>
                    <a href="#" class="btn btn-metis-3 btn-small btn-round btn-line">metis-3</a>
                    <a href="#" class="btn btn-metis-4 btn-small btn-round btn-line">metis-4</a>
                    <a href="#" class="btn btn-metis-5 btn-small btn-round btn-line">metis-5</a>
                    <a href="#" class="btn btn-metis-6 btn-small btn-round btn-line">metis-6</a>
                    <hr>
                    <h4>Large Button</h4>

                    <a href="#" class="btn btn-default btn-large btn-round btn-line">default</a>
                    <a href="#" class="btn btn-primary btn-large btn-round btn-line">primary</a>
                    <a href="#" class="btn btn-danger btn-large btn-round btn-line">danger</a>
                    <a href="#" class="btn btn-success btn-large btn-round btn-line">success</a>
                    <a href="#" class="btn btn-info btn-large btn-round btn-line">info</a>
                    <a href="#" class="btn btn-warning btn-large btn-round btn-line">warning</a>

                    <a href="#" class="btn btn-metis-1 btn-large btn-round btn-line">metis-1</a>
                    <a href="#" class="btn btn-metis-2 btn-large btn-round btn-line">metis-2</a>
                    <a href="#" class="btn btn-metis-3 btn-large btn-round btn-line">metis-3</a>
                    <a href="#" class="btn btn-metis-4 btn-large btn-round btn-line">metis-4</a>
                    <a href="#" class="btn btn-metis-5 btn-large btn-round btn-line">metis-5</a>
                    <a href="#" class="btn btn-metis-6 btn-large btn-round btn-line">metis-6</a>
                </div>
                <!-- /.body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col-lg-12 -->
  </div>
<!-- /.row -->